*{
	border: 0;
	margin: 0;
	box-sizing: border-box;
/*	font-family: 'Fredoka One', cursive;  dunkin
	font-family: 'Open Sans', sans-serif; for quotes*/ 
}


/*   START  OF  FIRST SECTION // NAVBAR // INTRO // DP   */


img[alt*="brandlogo"]{
	width: 250px;
	height: 50px;
}


.nav-link{
	float: left;
}

.navbar-nav{
	padding-left: 10%;
}




.jumbotron{
	background-color: #f7931e;
	color: #f2f2f2;
	margin-bottom: 0vh;
}

.jumbotron-p>p{
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		font-size: 16px;
}

.bonjour{
	font-family: 'Fredoka One', cursive
}

.circle{
	height: 200px;
	width: 200px;
	background-color: #cef6ed;
	border-radius: 	50%
}

.dp{
	height: 200px;
	width: 200px;
	}



.navbar{
	background-color: #f7931e;
}

.bounce>a{
	color:#f2f2f2;
}

li>a{
	color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: bold;

}

.nav-item>a:hover{
	color:#333333;
	text-decoration: underline;
}

body { background: #f2f2f2;}


.arrow {
  text-align: center;
  margin: 5% 0;
/*  padding-right: 60vh;*/
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


/*   END OF  FIRST SECTION // NAVBAR // INTRO // DP   */


/*    SECOND SECTION // SKILLS // CORE COMPETENCE    */

#skills{
	margin-top: 5%;
	margin-bottom: 5%;
}


.skills{   
	font-family: 'Fredoka One', cursive;
	text-align: center;
	margin-bottom: 3%;
}


.devskill{ 			 /*front end*/
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-align: center;
}


.checked{    			/*star*/
	color:orange;
}


li{ 
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}




/*   END OF  SECOND SECTION // SKILLS // CORE COMPETENCE    */

/*    START OF PROJECT SECTION   */

.jumbotron2{
	background-color: #f7931e;
	color:#f2f2f2;
}


.project{
	text-align: center;
	font-family: 'Fredoka One', cursive;
	padding-top: 3%;
	padding-bottom: 3%;
}


img[alt*="card-image"]:hover{
	transform: scale(1.1);
}


.foot-nav>a:hover{
	color: orange;
	text-decoration: none;
}

.ul-devskill>li{
	list-style: none;
	display: block;
}

ul{
	padding-left: 0px;
}


img[alt*="icon"]{
	width: 100px;
	height: 100px;
	margin-right: 1%;
	padding: 0;
}


.fab,.fas{
	margin-right: 1%;
}



.card{
	background-color: #cef6ed;
	margin-bottom: 10%;
	border-top: 5px solid #333;
	border-width: 3px;
	box-shadow: 0 4px 6px 0 hsla(0,0%,0%,0.2);
	height: 530px;
}
.card-body{
	color: #333333;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;

}

.card-img-top{
	box-shadow: 0 4px 6px 0 hsla(0,0%,0%,0.2);
}




/*  END START OF PROJECT SECTION   */

/*  START OF FOOTER  */


footer{
	font-family: 'Roboto', sans-serif;
	color: #f2f2f2;
	background-color: #333;
}


address{
	font-size: 12px;
	font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.last{
	font-size: 10px;
	text-align: center;
}



.contact{
	text-align: center;
	font-family: 'Fredoka One', cursive;
}



/*.form-group*/ .form-control{
	width: 200px;
	height: 20px;
	font-size: 12px;
	background-color: transparent;
	border-radius: 0;
	border-color: transparent;
	border-bottom: 1px solid grey;
}


.textarea{
	font-size: 10px;
	background-color: transparent;
	width: 200px;
	border-radius: 0;
	border-bottom: 1px solid grey;
}



.send{
	width: 150px;
	height: 30px;
	font-size: 12px;
}



label{
	font-size: 10px;
	font-style: italic;
}


.send1{
	width: 150px;
	height: 30px;
	font-size: 12px;
	margin-left: 25%;
}


/*  END OF FOOTER  */











/* Desktop Styles*/

@media only screen and (min-width: 960px) {
  body {
  	background-color: #f2f2f2;
/*  	background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;*/
  }


/*   START  OF  FIRST SECTION // NAVBAR // INTRO // DP   */


img[alt*="brandlogo"]{
	width: 250px;
	height: 50px;
	margin-top: 5%;
	margin-left: 20%;
}

 #nav-item{
 	padding-right: 10%;
 }



.circle{
	margin-left: 90%;
	padding-top: 12px;
}

.dp{
	margin-top: 12px;
	margin-left: 2px;
}


.jumbotron-p{
	padding-top: 4%;
	margin-left: 15%;
	padding-right: 10%;
	padding-right: 20%;
}


.bonjour{
	margin-left: 30vh;
	margin-bottom: 3%;
}



/*   END  OF  FIRST SECTION // NAVBAR // INTRO // DP   */



/*   START OF  SECOND SECTION // SKILLS // CORE COMPETENCE    */

li{ 
	padding-bottom: 1%;
	padding-top: 1%;
}

.fa-star{
	padding-left: 20px;
}


/*   END OF  SECOND SECTION // SKILLS // CORE COMPETENCE    */


/*    START OF PROJECT SECTION   */


.card-img-top{
	width: 355px;
	height: 250px;
	margin-top: 8%;
	margin-left: 7%;
}

/*   END OF PROJECT SECTION   */


/*   START OF  FOOTER    */

footer{
	padding-top: 5%;
	padding-bottom: 5%;
}


.address{
	margin-top: 5%;
	margin-left: 25%;
}


#footer-form{
	margin-top: 5%;
	margin-left: 25%;
}


.icon{
	padding-left: 25%;
}



label{
	font-size: 10px;
	font-style: italic;
}


.send1{
	margin-left: 25%;
}





/*  END  OF  FOOTER  */

}




/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 960px) {
  body {
  }

/*   START  OF  FIRST SECTION // NAVBAR // INTRO // DP   */


  	.bonjour{
	text-align: center;
	padding-bottom: 50px;
}

	.jumbotron-p{
	margin-top: 30px;
	text-align: justify;
}


	.circle{
	padding-top: 12px;
	margin-left: 30%;
	margin-bottom: 10%;
}

/*   END  OF  FIRST SECTION // NAVBAR // INTRO // DP   */


/*    START OF PROJECT SECTION   */


.card-img-top{
	width: 198px;
	height: 145px;
	margin-top: 5%;
	margin-left: 5%;
}

/*   END OF PROJECT SECTION   */





}


/* Mobile Styles */
@media only screen and (max-width: 414px) {
  body {
  }

/*   START  OF  FIRST SECTION // NAVBAR // INTRO // DP   */


.bonjour{
	text-align: center;
}


.jumbotron-p{
	text-align: justify;
	margin-left: 40px;
}



.circle{
	padding-top: 12px;
	margin-left: 25%;
	margin-bottom: 10%;
}


/*   END  OF  FIRST SECTION // NAVBAR // INTRO // DP   */



/*    SECOND SECTION // SKILLS // CORE COMPETENCE    */

#skills{
	margin-bottom: 10%;
}



/*   END OF SECOND SECTION // SKILLS // CORE COMPETENCE    */


/*    START OF PROJECT SECTION   */


.project {
	font-size: 2.5em;
}


.card-img-top{
	height: 43%;
}



/*   END OF PROJECT SECTION   */


/* START OF FOOTER */

#footer-form{
	margin-top: 10%;
	margin-left: 20%;
	margin-bottom: 5%;
}

.send{
	margin-left: 10%;
}

.icon{
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
}

.address{
	text-align: center;
	margin-left: 5%;
}


.send1{
	margin-left: 28%;
}

/* END OF FOOTER */ 


}